
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Cart Life
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Page d'accueil avec card pour l'image et la navigation-->
<ion-card>
  <!--Chemin relatif de l'image de la card-->
  <img src="\assets\images\caddie.jpeg">
  <!-- Partie qui apparait à l'écran, en dessous de l'image-->
  <ion-card-header>
    <ion-card-title>Accueil</ion-card-title>
    <ion-card-subtitle>Pour vous faciliter la vie en faisant les courses</ion-card-subtitle>
  </ion-card-header>
    <ion-card-content>Vous pouvez ici créer votre liste de courses et la partager avec vos contacts</ion-card-content>
</ion-card>

